In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv ('/content/drive/My Drive/Dataset/CrimeCount.csv')
data

          Sector       Community Name  ...  Year Month
0      NORTHEAST            WHITEHORN  ...  2019   SEP
1           EAST            FOOTHILLS  ...  2019   NOV
2          SOUTH               ACADIA  ...  2019   SEP
3      SOUTHEAST             MAHOGANY  ...  2019   NOV
4           WEST         LINCOLN PARK  ...  2019   NOV
...          ...                  ...  ...   ...   ...
99995      SOUTH             WOODBINE  ...  2013   JAN
99996       WEST  NORTH GLENMORE PARK  ...  2014   MAR
99997      SOUTH             HAYSBORO  ...  2012   SEP
99998      SOUTH  FAIRVIEW INDUSTRIAL  ...  2013   MAR
99999     CENTRE  KILLARNEY/GLENGARRY  ...  2013   OCT

[100000 rows x 8 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Sector          100000 non-null  object
 1   Community Name  100000 non-null  object
 2   Group Category  100000 non-null  object
 3   Category        100000 non-null  object
 4   Crime Count     100000 non-null  int64
 5   Resident Count  100000 non-null  int64
 6   Year            100000 non-null  int64
 7   Month           100000 non-null  object
dtypes: int64(3), object(5)
memory usage: 6.1+ MB

In [ ]:
cn = data['Community Name'].value_counts()
cn

BELTLINE                    782
DOWNTOWN COMMERCIAL CORE    752
FOREST LAWN                 720
MARLBOROUGH                 686
FALCONRIDGE                 677
                           ...
05D                           3
03C                           2
05G                           2
MEDICINE HILL                 2
05F                           1
Name: Community Name, Length: 300, dtype: int64

In [ ]:
cn = pd.DataFrame(cn)
cn

                          Community Name
BELTLINE                             782
DOWNTOWN COMMERCIAL CORE             752
FOREST LAWN                          720
MARLBOROUGH                          686
FALCONRIDGE                          677
...                                  ...
05D                                    3
03C                                    2
05G                                    2
MEDICINE HILL                          2
05F                                    1

[300 rows x 1 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
def Scaler(data: pd.DataFrame, list_of_columns):
    scaler = StandardScaler()
    scaled_df = pd.DataFrame()
    for column in list_of_columns:
        fitted_values = scaler.fit_transform(data[[column]].values)
        data[column + ' Scaled'] = fitted_values
        data.drop(column, axis=1, inplace=True)
    return data

In [ ]:
data = Scaler(data, ['Crime Count', 'Resident Count'])

In [ ]:

y = pd.get_dummies(data.pop('Category')).to_numpy()
y

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0]], dtype=uint8)

In [ ]:
import numpy as np

In [ ]:
x = pd.get_dummies(data).to_numpy()

In [ ]:
y.shape

(100000, 11)

In [ ]:
x.shape

(100000, 325)

In [ ]:
import tensorflow as tf

In [ ]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(3210, input_dim=325, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(3210, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))  # prevent overfitting
model.add(tf.keras.layers.Dense(11,activation='softmax'))
model.summary()
adam_opt = tf.keras.optimizers.Adam(learning_rate=0.0001)
model.compile(optimizer= adam_opt, loss='categorical_crossentropy', metrics=['accuracy'])

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 3210)              1046460
_________________________________________________________________
dropout (Dropout)            (None, 3210)              0
_________________________________________________________________
dense_4 (Dense)              (None, 3210)              10307310
_________________________________________________________________
dropout_1 (Dropout)          (None, 3210)              0
_________________________________________________________________
dense_5 (Dense)              (None, 11)                35321
=================================================================
Total params: 11,389,091
Trainable params: 11,389,091
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(x,y,batch_size=128, epochs=100, validation_split=0.3)

Epoch 1/100
547/547 [==============================] - 3s 6ms/step - loss: 9.6964 - accuracy: 0.1419 - val_loss: 2.1457 - val_accuracy: 0.1522
Epoch 2/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1962 - accuracy: 0.1740 - val_loss: 2.1011 - val_accuracy: 0.2236
Epoch 3/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1645 - accuracy: 0.1903 - val_loss: 2.1038 - val_accuracy: 0.2236
Epoch 4/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1573 - accuracy: 0.1945 - val_loss: 2.1061 - val_accuracy: 0.2236
Epoch 5/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1539 - accuracy: 0.1965 - val_loss: 2.0988 - val_accuracy: 0.2236
Epoch 6/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1518 - accuracy: 0.1979 - val_loss: 2.1005 - val_accuracy: 0.2236
Epoch 7/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1509 - accuracy: 0.1977 - val_loss: 2.0999 - val_accuracy: 0.2236
Epoch 8/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1509 - accuracy: 0.1977 - val_loss: 2.1031 - val_accuracy: 0.2236
Epoch 9/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1465 - accuracy: 0.1986 - val_loss: 2.1016 - val_accuracy: 0.2236
Epoch 10/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1476 - accuracy: 0.1983 - val_loss: 2.1049 - val_accuracy: 0.2236
Epoch 11/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1449 - accuracy: 0.1981 - val_loss: 2.0947 - val_accuracy: 0.2236
Epoch 12/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1419 - accuracy: 0.1987 - val_loss: 2.0900 - val_accuracy: 0.2236
Epoch 13/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1334 - accuracy: 0.1987 - val_loss: 2.0710 - val_accuracy: 0.2236
Epoch 14/100
547/547 [==============================] - 3s 6ms/step - loss: 2.1017 - accuracy: 0.2026 - val_loss: 1.9733 - val_accuracy: 0.2242
Epoch 15/100
547/547 [==============================] - 3s 6ms/step - loss: 2.0056 - accuracy: 0.2446 - val_loss: 1.7903 - val_accuracy: 0.3631
Epoch 16/100
547/547 [==============================] - 3s 6ms/step - loss: 1.8749 - accuracy: 0.2864 - val_loss: 1.6138 - val_accuracy: 0.3757
Epoch 17/100
547/547 [==============================] - 3s 6ms/step - loss: 1.7839 - accuracy: 0.3064 - val_loss: 1.5260 - val_accuracy: 0.3758
Epoch 18/100
547/547 [==============================] - 3s 6ms/step - loss: 1.6856 - accuracy: 0.3201 - val_loss: 1.4378 - val_accuracy: 0.3774
Epoch 19/100
547/547 [==============================] - 3s 6ms/step - loss: 1.6310 - accuracy: 0.3198 - val_loss: 1.4393 - val_accuracy: 0.3758
Epoch 20/100
547/547 [==============================] - 3s 6ms/step - loss: 1.5939 - accuracy: 0.3448 - val_loss: 1.3771 - val_accuracy: 0.4461
Epoch 21/100
547/547 [==============================] - 3s 6ms/step - loss: 1.5507 - accuracy: 0.3768 - val_loss: 1.3649 - val_accuracy: 0.4510
Epoch 22/100
547/547 [==============================] - 3s 6ms/step - loss: 1.5170 - accuracy: 0.3960 - val_loss: 1.3147 - val_accuracy: 0.4967
Epoch 23/100
547/547 [==============================] - 3s 6ms/step - loss: 1.4976 - accuracy: 0.4036 - val_loss: 1.3210 - val_accuracy: 0.4786
Epoch 24/100
547/547 [==============================] - 3s 6ms/step - loss: 1.4819 - accuracy: 0.4105 - val_loss: 1.3172 - val_accuracy: 0.4759
Epoch 25/100
547/547 [==============================] - 3s 6ms/step - loss: 1.4753 - accuracy: 0.4114 - val_loss: 1.2904 - val_accuracy: 0.4917
Epoch 26/100
547/547 [==============================] - 3s 6ms/step - loss: 1.4618 - accuracy: 0.4183 - val_loss: 1.2667 - val_accuracy: 0.5036
Epoch 27/100
547/547 [==============================] - 3s 6ms/step - loss: 1.4544 - accuracy: 0.4193 - val_loss: 1.2816 - val_accuracy: 0.4949
Epoch 28/100
547/547 [==============================] - 3s 6ms/step - loss: 1.4327 - accuracy: 0.4267 - val_loss: 1.2678 - val_accuracy: 0.4867
Epoch 29/100
547/547 [==============================] - 3s 6ms/step - loss: 1.4082 - accuracy: 0.4325 - val_loss: 1.2448 - val_accuracy: 0.5033
Epoch 30/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3827 - accuracy: 0.4441 - val_loss: 1.2865 - val_accuracy: 0.4696
Epoch 31/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3593 - accuracy: 0.4581 - val_loss: 1.2159 - val_accuracy: 0.5249
Epoch 32/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3563 - accuracy: 0.4577 - val_loss: 1.2216 - val_accuracy: 0.5175
Epoch 33/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3458 - accuracy: 0.4611 - val_loss: 1.2220 - val_accuracy: 0.5027
Epoch 34/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3317 - accuracy: 0.4665 - val_loss: 1.2067 - val_accuracy: 0.5228
Epoch 35/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3270 - accuracy: 0.4674 - val_loss: 1.2197 - val_accuracy: 0.4977
Epoch 36/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3189 - accuracy: 0.4704 - val_loss: 1.2157 - val_accuracy: 0.5055
Epoch 37/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3154 - accuracy: 0.4707 - val_loss: 1.1983 - val_accuracy: 0.5236
Epoch 38/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3073 - accuracy: 0.4711 - val_loss: 1.1855 - val_accuracy: 0.5194
Epoch 39/100
547/547 [==============================] - 3s 6ms/step - loss: 1.3062 - accuracy: 0.4744 - val_loss: 1.1928 - val_accuracy: 0.5177
Epoch 40/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2981 - accuracy: 0.4755 - val_loss: 1.1903 - val_accuracy: 0.5235
Epoch 41/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2950 - accuracy: 0.4773 - val_loss: 1.1863 - val_accuracy: 0.5252
Epoch 42/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2951 - accuracy: 0.4794 - val_loss: 1.2054 - val_accuracy: 0.5026
Epoch 43/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2905 - accuracy: 0.4808 - val_loss: 1.1796 - val_accuracy: 0.5255
Epoch 44/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2813 - accuracy: 0.4840 - val_loss: 1.1989 - val_accuracy: 0.5262
Epoch 45/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2764 - accuracy: 0.4852 - val_loss: 1.2973 - val_accuracy: 0.4669
Epoch 46/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2769 - accuracy: 0.4849 - val_loss: 1.2034 - val_accuracy: 0.5136
Epoch 47/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2719 - accuracy: 0.4850 - val_loss: 1.1903 - val_accuracy: 0.5208
Epoch 48/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2663 - accuracy: 0.4855 - val_loss: 1.1848 - val_accuracy: 0.5195
Epoch 49/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2640 - accuracy: 0.4878 - val_loss: 1.2059 - val_accuracy: 0.5097
Epoch 50/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2610 - accuracy: 0.4883 - val_loss: 1.1641 - val_accuracy: 0.5273
Epoch 51/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2564 - accuracy: 0.4897 - val_loss: 1.1712 - val_accuracy: 0.5306
Epoch 52/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2537 - accuracy: 0.4902 - val_loss: 1.1624 - val_accuracy: 0.5275
Epoch 53/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2520 - accuracy: 0.4907 - val_loss: 1.1585 - val_accuracy: 0.5281
Epoch 54/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2491 - accuracy: 0.4925 - val_loss: 1.2042 - val_accuracy: 0.5134
Epoch 55/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2446 - accuracy: 0.4961 - val_loss: 1.1982 - val_accuracy: 0.5148
Epoch 56/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2393 - accuracy: 0.4970 - val_loss: 1.1660 - val_accuracy: 0.5205
Epoch 57/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2416 - accuracy: 0.4974 - val_loss: 1.1838 - val_accuracy: 0.5232
Epoch 58/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2346 - accuracy: 0.4979 - val_loss: 1.1831 - val_accuracy: 0.5237
Epoch 59/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2387 - accuracy: 0.4955 - val_loss: 1.1927 - val_accuracy: 0.5197
Epoch 60/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2330 - accuracy: 0.4986 - val_loss: 1.1585 - val_accuracy: 0.5255
Epoch 61/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2369 - accuracy: 0.4946 - val_loss: 1.1655 - val_accuracy: 0.5251
Epoch 62/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2280 - accuracy: 0.5006 - val_loss: 1.1595 - val_accuracy: 0.5294
Epoch 63/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2248 - accuracy: 0.5003 - val_loss: 1.1441 - val_accuracy: 0.5236
Epoch 64/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2250 - accuracy: 0.4988 - val_loss: 1.1398 - val_accuracy: 0.5314
Epoch 65/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2231 - accuracy: 0.5012 - val_loss: 1.1459 - val_accuracy: 0.5309
Epoch 66/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2226 - accuracy: 0.4983 - val_loss: 1.1425 - val_accuracy: 0.5331
Epoch 67/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2236 - accuracy: 0.4989 - val_loss: 1.1547 - val_accuracy: 0.5276
Epoch 68/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2173 - accuracy: 0.5030 - val_loss: 1.1804 - val_accuracy: 0.5204
Epoch 69/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2157 - accuracy: 0.5015 - val_loss: 1.1429 - val_accuracy: 0.5329
Epoch 70/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2199 - accuracy: 0.5012 - val_loss: 1.1622 - val_accuracy: 0.5296
Epoch 71/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2191 - accuracy: 0.5010 - val_loss: 1.1538 - val_accuracy: 0.5283
Epoch 72/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2186 - accuracy: 0.5005 - val_loss: 1.1475 - val_accuracy: 0.5253
Epoch 73/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2074 - accuracy: 0.5040 - val_loss: 1.1371 - val_accuracy: 0.5364
Epoch 74/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2128 - accuracy: 0.5036 - val_loss: 1.1362 - val_accuracy: 0.5317
Epoch 75/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2107 - accuracy: 0.5035 - val_loss: 1.1353 - val_accuracy: 0.5319
Epoch 76/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2100 - accuracy: 0.5036 - val_loss: 1.1348 - val_accuracy: 0.5323
Epoch 77/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2095 - accuracy: 0.5024 - val_loss: 1.1435 - val_accuracy: 0.5341
Epoch 78/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2112 - accuracy: 0.5004 - val_loss: 1.1344 - val_accuracy: 0.5360
Epoch 79/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2077 - accuracy: 0.5043 - val_loss: 1.1299 - val_accuracy: 0.5391
Epoch 80/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2051 - accuracy: 0.5036 - val_loss: 1.1317 - val_accuracy: 0.5362
Epoch 81/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2021 - accuracy: 0.5073 - val_loss: 1.2204 - val_accuracy: 0.4941
Epoch 82/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2106 - accuracy: 0.5022 - val_loss: 1.1800 - val_accuracy: 0.5201
Epoch 83/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2072 - accuracy: 0.5041 - val_loss: 1.1617 - val_accuracy: 0.5116
Epoch 84/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2029 - accuracy: 0.5033 - val_loss: 1.1513 - val_accuracy: 0.5166
Epoch 85/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2023 - accuracy: 0.5051 - val_loss: 1.1569 - val_accuracy: 0.5340
Epoch 86/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1999 - accuracy: 0.5064 - val_loss: 1.1369 - val_accuracy: 0.5313
Epoch 87/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1985 - accuracy: 0.5069 - val_loss: 1.1604 - val_accuracy: 0.5203
Epoch 88/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2048 - accuracy: 0.5031 - val_loss: 1.1499 - val_accuracy: 0.5293
Epoch 89/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1914 - accuracy: 0.5080 - val_loss: 1.1262 - val_accuracy: 0.5330
Epoch 90/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1947 - accuracy: 0.5068 - val_loss: 1.1326 - val_accuracy: 0.5342
Epoch 91/100
547/547 [==============================] - 3s 6ms/step - loss: 1.2027 - accuracy: 0.5051 - val_loss: 1.1286 - val_accuracy: 0.5360
Epoch 92/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1922 - accuracy: 0.5086 - val_loss: 1.1406 - val_accuracy: 0.5316
Epoch 93/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1901 - accuracy: 0.5113 - val_loss: 1.2024 - val_accuracy: 0.5070
Epoch 94/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1896 - accuracy: 0.5093 - val_loss: 1.1484 - val_accuracy: 0.5266
Epoch 95/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1890 - accuracy: 0.5078 - val_loss: 1.1234 - val_accuracy: 0.5347
Epoch 96/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1844 - accuracy: 0.5103 - val_loss: 1.1481 - val_accuracy: 0.5329
Epoch 97/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1856 - accuracy: 0.5096 - val_loss: 1.1467 - val_accuracy: 0.5331
Epoch 98/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1853 - accuracy: 0.5087 - val_loss: 1.1700 - val_accuracy: 0.5161
Epoch 99/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1842 - accuracy: 0.5093 - val_loss: 1.1991 - val_accuracy: 0.5180
Epoch 100/100
547/547 [==============================] - 3s 6ms/step - loss: 1.1818 - accuracy: 0.5097 - val_loss: 1.1479 - val_accuracy: 0.5248